<template>
  <div class="auth-wrapper auth-v1">
    <div class="auth-inner">
      <ValidationObserver ref="obs">
      <v-card class="auth-card" slot-scope="{ invalid, validated }">
        <!-- logo -->
        <v-card-title class="d-flex align-center justify-center py-7">
          <router-link
            to="/"
            class="d-flex align-center"
          >
            <v-img
              :src="require('@/assets/images/logos/aspire.svg')"
              height="35"
              width="125"
              alt="logo"
              contain
              class="me-3 "
            ></v-img>
          </router-link>
        </v-card-title>

        <!-- title -->
        <v-card-text>
          <p class="text-2xl font-weight-semibold text--primary mb-2">
            Welcome to Aspire! 👋🏻
          </p>
          <p class="mb-2">
            Please sign-in to your account and start the adventure
          </p>
        </v-card-text>

        <!-- login form -->
        <v-card-text>
          <v-form>
            <ValidationProvider name="email" rules="required|email">
              <v-text-field
                slot-scope="{
                    errors,
                    valid
                }"
                v-model="email"
                :error-messages="errors"
                :success="valid"
                label="E-mail"
                outlined
                dense
                hide-details
                required
                >
              </v-text-field>
            </ValidationProvider>
            <ValidationProvider name="password" rules="required|max:15">
                <v-text-field
                    class="mt-4"
                    slot-scope="{
                        errors,
                        valid
                    }"
                    v-model="password"
                    :counter="10"
                    :error-messages="errors"
                    :success="valid"
                    label="Password"
                    outlined
                    dense
                    hide-details
                    required
                ></v-text-field>
            </ValidationProvider>
            <v-btn
              block
              color="primary"
              class="mt-6"
               @click="login" :disabled="invalid || !validated"
            >
              Login
            </v-btn>
          </v-form>
        </v-card-text>
      </v-card>
      </ValidationObserver>

    </div>
  </div>
</template>

<script>
// eslint-disable-next-line object-curly-newline
import {
  ValidationObserver,
  ValidationProvider
} from "vee-validate";

export default {
    components: {
    ValidationProvider,
    ValidationObserver
  },
  data: () => ({
    email: "",
    password: ""
  }),
    
  methods: {
    login() {
      this.$router.push({ name: 'loan-dashboard'})
    }
  }
}
</script>

<style lang="scss">
@import '~@/plugins/vuetify/default-preset/preset/pages/auth.scss';
</style>
