<template>
<v-row>
    <v-col
      cols="12"
      md="4"
    >
    <v-card class="greeting-card">
    <v-row class="ma-0 pa-0">
      <v-col cols="8">
        <v-card-title class="text-no-wrap pt-1 ps-2 font-weight-semibold">
          Instant Loan
        </v-card-title>
        <v-card-subtitle class="text-no-wrap ps-2">
          Your Personal Loan is only a few steps away
        </v-card-subtitle>
        <v-card-text class="d-flex align-center mt-2 pb-2 ps-2">
            <v-btn
                large
                color="primary"
                :to="{ name: 'loan-apply' }"
            >
                Apply
            </v-btn>
        </v-card-text>
      </v-col>
    </v-row>
  </v-card>
    </v-col>
  </v-row>
  
</template>
<script>
// eslint-disable-next-line object-curly-newline
import LoanDataTable from './LoanDataTable.vue'

export default {
  components: {
      LoanDataTable
  },
  created() {
      this.getData();
  },

  data: () => ({
      loansList: [],
      headers: [
        { text: 'NAME', value: 'name' },
        { text: 'AMOUNT', value: 'amount' },
        { text: 'TERM (In Yrs)', value: 'term' },
        { text: 'Pay EMI', value: 'status' }
      ],
  }),

  methods: {
    async getData() {
      try {
        const response = await this.$http.get(
          "https://run.mocky.io/v3/e7ae03e4-1fa9-4773-8715-cab373e0b046"
        );
        this.loansList = response.data.loans;
      } catch (error) {
        console.log(error);
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.greeting-card {
  position: relative;
  .greeting-card-bg {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .greeting-card-trophy {
    position: absolute;
    bottom: 10%;
    right: 8%;
  }
}
// rtl
.v-application {
  &.v-application--is-rtl {
    .greeting-card-bg {
      right: initial;
      left: 0;
      transform: rotateY(180deg);
    }
    .greeting-card-trophy {
      left: 8%;
      right: initial;
    }
  }
}
</style>
