<template>
  <div>
    <div>Ongoing Loans:</div>
      <v-card class="mt-3">
        <v-data-table
        :headers="headers"
        :items="loansList"
        item-key="id"
        class="table-rounded"
        hide-default-footer
        disable-sort
        >
        <!-- name -->
        <template #[`item.name`]="{item}">
            <div class="d-flex flex-column">
            <span class="d-block font-weight-semibold text--primary text-truncate">{{ item.name }}</span>
            </div>
        </template>
        <template #[`item.amount`]="{item}">
            {{ `$${item.amount}` }}
        </template>
        <!-- status -->
        <template #[`item.term`]="{item}">
            {{ `${item.term}` }}
        </template>
        <template #[`item.status`]="{item}">
            <v-btn
                v-if="item.status ==='pending'"
                small
                color="primary"
                @click="openDialog(item)"
            >
                Repay
            </v-btn>
        </template>
        </v-data-table>
  </v-card>
  <v-dialog v-if="dialogPay" v-model="dialogPay" max-width="600px">
        <v-card>
            <v-card-title class="text-h6 my-3">Do you want to pay EMI of ${{ selectedLoan.emi }} for {{ selectedLoan.name }}?</v-card-title>
            <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" @click="close" text >Cancel</v-btn>
            <v-btn color="blue darken-1" @click="payEmi" text >Pay</v-btn>
            <v-spacer></v-spacer>
            </v-card-actions>
        </v-card>
  </v-dialog>
  </div>
</template>

<script>
export default {
  props: ['loansList', 'headers'], 
  data: () => ({
        dialogPay: false,
        selectedLoan: ''
  }),
  methods: {
    openDialog (item) {
      this.selectedLoan = item;
      this.dialogPay = true
    },
    close () {
      this.dialogPay = false;
      this.selectedLoan = null;
    },
    payEmi() {
        var loan = this.loansList.find(loan => loan.id === this.selectedLoan.id);
        loan.status = 'done';
        var index = this.loansList.indexOf(loan);
        this.loansList[index] = loan;
        this.close();
    }
  },

}
</script>
