<template>
  <ValidationObserver ref="obs">
    <v-card class="elevation-12" slot-scope="{ invalid, validated }">
      <v-toolbar dark color="secondary">
        <v-toolbar-title class="white--text">Loan application form</v-toolbar-title>
      </v-toolbar>
      <v-card-text class="mt-5">
        <v-form>
            <v-row>
                <v-col
                    cols="12"
                    md="6"
                >
                <ValidationProvider name="name" rules="required|max:15">
                    <v-text-field
                    slot-scope="{
                        errors,
                        valid
                    }"
                    v-model="name"
                    :counter="15"
                    :error-messages="errors"
                    :success="valid"
                    label="Name"
                    outlined
                    dense
                    hide-details
                    required
                    ></v-text-field>
                </ValidationProvider>
                </v-col>
                <v-col
                    cols="12"
                    md="6"
                >
                <ValidationProvider name="email" rules="required|email">
                    <v-text-field
                    slot-scope="{
                        errors,
                        valid
                    }"
                    v-model="email"
                    :error-messages="errors"
                    :success="valid"
                    label="E-mail"
                    outlined
                    dense
                    hide-details
                    required
                    ></v-text-field>
                </ValidationProvider>
                </v-col>
                <v-col
                    cols="12"
                    md="6"
                >
                <ValidationProvider name="City" rules="required|max:15">
                    <v-text-field
                    slot-scope="{
                        errors,
                        valid
                    }"
                    v-model="city"
                    :counter="10"
                    :error-messages="errors"
                    :success="valid"
                    label="City"
                    outlined
                    dense
                    hide-details
                    required
                    ></v-text-field>
                </ValidationProvider>
                </v-col>
                <v-col
                    cols="12"
                    md="6"
                >
                <ValidationProvider name="amount" rules="required|max:10">
                    <v-text-field
                    slot-scope="{
                        errors,
                        valid
                    }"
                    v-model="amount"
                    :counter="10"
                    :error-messages="errors"
                    :success="valid"
                    label="Amount"
                    type="number"
                    outlined
                    dense
                    hide-details
                    required
                    ></v-text-field>
                </ValidationProvider>
                </v-col>
                <v-col
                    cols="12"
                    md="6"
                >
                <ValidationProvider name="term" rules="required">
                    <v-slider
                        v-model="term"
                        label="Term"
                        max="40"
                        min="2"
                        thumb-label
                    >
                    </v-slider>
                </ValidationProvider>
                </v-col>
            </v-row>
        </v-form>
      </v-card-text>
      <v-card-actions>
          <v-spacer></v-spacer>
        <v-btn :to="{ name: 'loan-dashboard' }">Cancel</v-btn>
        <v-btn  color="primary" @click="submit" :disabled="invalid || !validated"
          >Apply</v-btn
        >
      </v-card-actions>
    </v-card>
  </ValidationObserver>
</template>

<script>
import {
  ValidationObserver,
  ValidationProvider,
  withValidation
} from "vee-validate";

export default {
  data: () => ({
    items: ["", "Foo", "Bar"],
    name: "",
    email: "",
    city: "",
    amount: 0,
    term: 5,
    loanLength: 0
  }),
  components: {
    ValidationProvider,
    ValidationObserver
  },
  mounted() {
    this.$root.$on('loanListLength', (length) =>{
      this.loanLength = length;
    })
  },
  methods: {
    async clear() {
      this.name = this.email = this.select = this.checkbox = "";
      this.$nextTick(() => {
        this.$refs.obs.reset();
      });
    },
    async submit() {
      const loan = {
        id: parseInt(this.loanLength) + 1 ,
        name: this.name,
        amount: this.amount,
        term: this.term,
        status: 'pending',
        emi: this.amount/this.term
      }
      this.$root.$emit('addLoan', loan);
      this.$router.push({ name: 'loan-dashboard'})
    }
  }
};
</script>
