<template>
    <div>
        <router-view></router-view>
        <loan-data-table class="mt-10" v-if="(loansList.length > 0) && !hideTable" :loansList="loansList" :headers="headers"></loan-data-table>
    </div>
</template>

<script>
// eslint-disable-next-line object-curly-newline
import LoanDataTable from './LoanDataTable.vue'

export default {
  components: {
      LoanDataTable
  },
  created() {
      this.getData();
  },

  data: () => ({
        hideTable: false
  }),

  watch:{
    $route (to, from){
        this.showTable();
    }
  },

  data: () => ({
      loansList: [],
      headers: [
        { text: 'NAME', value: 'name' },
        { text: 'AMOUNT', value: 'amount' },
        { text: 'TERM (In Yrs)', value: 'term' },
        { text: 'Pay EMI', value: 'status' }
      ],
  }),

  mounted() {
    this.$root.$on('addLoan', (loan) =>{
      this.loansList.push(loan);
    })
  },

  methods: {
    async getData() {
      try {
        const response = await this.$http.get(
          "https://run.mocky.io/v3/e7ae03e4-1fa9-4773-8715-cab373e0b046"
        );
        this.loansList = response.data.loans;
        this.$root.$emit('loanListLength', this.loansList.length)
      } catch (error) {
        console.log(error);
      }
    },

    showTable() {
      if(this.$route.path === '/loans/apply'){
        this.hideTable = true;
      } else {
        this.hideTable = false;
      }
    }
  },
}
</script>
