@font-face {
    font-family: 'icomoon';
    src:  url('./icons/icomoon.eot?gvvt1j');
    src:  url('./icons/icomoon.eot?gvvt1j#iefix') format('embedded-opentype'),
      url('./icons/icomoon.ttf?gvvt1j') format('truetype'),
      url('./icons/icomoon.woff?gvvt1j') format('woff'),
      url('./icons/icomoon.svg?gvvt1j#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-logo11:before {
    content: "\e900";
    color: #01d167;
  }
  .icon-add:before {
    content: "\e901";
    color: #fff;
  }
  .icon-box:before {
    content: "\e902";
    color: #fff;
  }
  .icon-file-storage1:before {
    content: "\e903";
    color: #009dff;
  }
  .icon-business-and-finance4:before {
    content: "\e904";
    color: #fff;
  }
  .icon-next4:before {
    content: "\e905";
    color: #ddd;
  }
  .icon-megaphone:before {
    content: "\e906";
    color: #f25195;
  }
  .icon-business-and-finance3:before {
    content: "\e907";
    color: #fff;
  }
  .icon-flights:before {
    content: "\e908";
    color: #00d6b5;
  }
  .icon-next3:before {
    content: "\e909";
    color: #ddd;
  }
  .icon-business-and-finance2:before {
    content: "\e90a";
    color: #fff;
  }
  .icon-next2:before {
    content: "\e90b";
    color: #ddd;
  }
  .icon-file-storage:before {
    content: "\e90c";
    color: #009dff;
  }
  .icon-business-and-finance:before {
    content: "\e90d";
    color: #fff;
  }
  .icon-next:before {
    content: "\e90e";
    color: #ddd;
  }
  .icon-down-arrow2:before {
    content: "\e90f";
    color: #325baf;
  }
  .icon-payments2 .path1:before {
    content: "\e910";
    color: rgb(50, 91, 175);
    opacity: 0.15;
  }
  .icon-payments2 .path2:before {
    content: "\e911";
    margin-left: -1em;
    color: rgb(50, 91, 175);
  }
  .icon-payments2 .path3:before {
    content: "\e912";
    margin-left: -1em;
    color: rgb(35, 206, 253);
  }
  .icon-down-arrow:before {
    content: "\e913";
    color: #325baf;
  }
  .icon-card-details .path1:before {
    content: "\e914";
    color: rgba(50, 91, 175, 0.15);
  }
  .icon-card-details .path2:before {
    content: "\e915";
    margin-left: -1em;
    color: rgb(50, 91, 175);
  }
  .icon-card-details .path3:before {
    content: "\e916";
    margin-left: -1em;
    color: rgb(35, 206, 253);
  }
  .icon-deactivate-card .path1:before {
    content: "\e917";
    color: rgb(50, 91, 175);
  }
  .icon-deactivate-card .path2:before {
    content: "\e918";
    margin-left: -1em;
    color: rgb(154, 192, 250);
  }
  .icon-deactivate-card .path3:before {
    content: "\e919";
    margin-left: -1em;
    color: rgb(241, 243, 244);
  }
  .icon-GPay .path1:before {
    content: "\e91a";
    color: rgb(255, 255, 255);
  }
  .icon-GPay .path2:before {
    content: "\e91b";
    margin-left: -1em;
    color: none;
  }
  .icon-GPay .path3:before {
    content: "\e91c";
    margin-left: -1em;
    color: rgb(66, 133, 244);
  }
  .icon-GPay .path4:before {
    content: "\e91d";
    margin-left: -1em;
    color: rgb(52, 168, 83);
  }
  .icon-GPay .path5:before {
    content: "\e91e";
    margin-left: -1em;
    color: rgb(251, 188, 4);
  }
  .icon-GPay .path6:before {
    content: "\e91f";
    margin-left: -1em;
    color: rgb(234, 67, 53);
  }
  .icon-nature111:before {
    content: "\e920";
    color: #f1f3f4;
  }
  .icon-nature1:before {
    content: "\e921";
    color: #9ac0fa;
  }
  .icon-freeze-card .path1:before {
    content: "\e922";
    color: rgb(50, 91, 175);
  }
  .icon-freeze-card .path2:before {
    content: "\e923";
    margin-left: -1em;
    color: rgb(154, 192, 250);
  }
  .icon-freeze-card .path3:before {
    content: "\e924";
    margin-left: -1em;
    color: rgb(241, 243, 244);
  }
  .icon-replace-card .path1:before {
    content: "\e925";
    color: rgb(50, 91, 175);
  }
  .icon-replace-card .path2:before {
    content: "\e926";
    margin-left: -1em;
    color: rgb(241, 243, 244);
  }
  .icon-replace-card .path3:before {
    content: "\e927";
    margin-left: -1em;
    color: rgb(154, 192, 250);
  }
  .icon-pickup-car .path1:before {
    content: "\e928";
    color: rgb(154, 192, 250);
  }
  .icon-pickup-car .path2:before {
    content: "\e929";
    margin-left: -1.201171875em;
    color: rgb(154, 192, 250);
  }
  .icon-pickup-car .path3:before {
    content: "\e92a";
    margin-left: -1.201171875em;
    color: rgb(154, 192, 250);
  }
  .icon-pickup-car .path4:before {
    content: "\e92b";
    margin-left: -1.201171875em;
    color: rgb(154, 192, 250);
  }
  .icon-pickup-car .path5:before {
    content: "\e92c";
    margin-left: -1.201171875em;
    color: rgb(154, 192, 250);
  }
  .icon-pickup-car .path6:before {
    content: "\e92d";
    margin-left: -1.201171875em;
    color: rgb(154, 192, 250);
  }
  .icon-pickup-car .path7:before {
    content: "\e92e";
    margin-left: -1.201171875em;
    color: rgb(241, 243, 244);
  }
  .icon-spendlimit .path1:before {
    content: "\e92f";
    color: rgb(50, 91, 175);
  }
  .icon-spendlimit .path2:before {
    content: "\e930";
    margin-left: -1em;
    color: rgb(154, 192, 250);
  }
  .icon-spendlimit .path3:before {
    content: "\e931";
    margin-left: -1em;
    color: rgb(154, 192, 250);
  }
  .icon-spendlimit .path4:before {
    content: "\e932";
    margin-left: -1em;
    color: rgb(154, 192, 250);
  }
  .icon-spendlimit .path5:before {
    content: "\e933";
    margin-left: -1em;
    color: rgb(154, 192, 250);
  }
  .icon-spendlimit .path6:before {
    content: "\e934";
    margin-left: -1em;
    color: rgb(154, 192, 250);
  }
  .icon-spendlimit .path7:before {
    content: "\e935";
    margin-left: -1em;
    color: rgb(154, 192, 250);
  }
  .icon-spendlimit .path8:before {
    content: "\e936";
    margin-left: -1em;
    color: rgb(241, 243, 244);
  }
  .icon-asp-logo:before {
    content: "\e937";
    color: #fff;
  }
  .icon-visa:before {
    content: "\e938";
    color: #fff;
  }
  .icon-remove_red_eye-24px:before {
    content: "\e939";
    color: #01d167;
  }
  .icon-user:before {
    content: "\e93a";
    color: #fff;
  }
  .icon-account:before {
    content: "\e93b";
    color: #fff;
  }
  .icon-credit:before {
    content: "\e93c";
    color: #fff;
  }
  .icon-doublr-arrow:before {
    content: "\e93d";
    color: #fff;
  }
  .icon-payments:before {
    content: "\e93e";
    color: #fff;
  }
  .icon-pay:before {
    content: "\e93f";
    color: #01d167;
  }
  .icon-card:before {
    content: "\e940";
    color: #01d167;
  }
  .icon-home:before {
    content: "\e941";
    color: #fff;
  }
  .icon-aspire-logo:before {
    content: "\e942";
    color: #01d167;
  }
  