<template>
    <v-card>
          <v-card-text class="card-1 d-flex">
                <div></div>
                <div>Card details</div>
                <v-spacer></v-spacer>
                <div
                @click="isCardDetailsVisible = !isCardDetailsVisible"
                >
                <!-- <v-icon>{{ isCardDetailsVisible ? icons.mdiChevronUp : icons.mdiChevronDown }}</v-icon> -->
                <div v-if="!isCardDetailsVisible" class="icon-down-arrow"></div>
                <div v-if="isCardDetailsVisible" class="icon-down-arrow2"></div>
                </div>
          </v-card-text>
          <v-expand-transition>
            <div v-show="isCardDetailsVisible">
              <v-divider></v-divider>
              <v-card-text>
                <p>Earn 10X rewards on online spends with exclusive partners- Amazon / Apollo24X7/ BookMyShow / Cleartrip / Dineout/ Lenskart / Netmeds.</p>
                <p>Get a welcome gift of Amazon.in gift card* worth ₹ 500 on joining.</p>
              </v-card-text>
            </div>
          </v-expand-transition>
        </v-card>
</template>

<script>
import {
  mdiChevronUp,
  mdiChevronDown,
} from '@mdi/js'
export default {
  components: {
  },

  setup() {
    const isCardDetailsVisible = false;

    return {
      isCardDetailsVisible,

      // icons
      icons: {
        mdiChevronUp,
        mdiChevronDown,
      },
    }
  },
}
</script>
<style lang="scss" scoped>
.card-1{
    &.v-card__text{
        border-color: #F5F5F5;
        background-color: #F5F9FF;
}

}
</style>