<template>
    <div class="services-container pa-7">
        <div v-for="(service, index) in services" :key="index">
            <div :class="service.icon"></div>
            <div class="name">{{ service.name }}</div>
        </div>
    </div>
</template>

<script>

export default {
  components: {
  },

  data: () => ({
    services : [
        {
            id: 1,
            name: 'Freeze card',
            icon: 'icon-freeze-card'
        },
        {
            id: 2,
            name: 'Set spend limit',
            icon: 'icon-freeze-card'
        },
        {
            id: 3,
            name: 'Add to GPay',
            icon: 'icon-freeze-card'
        },
        {
            id: 4,
            name: 'Replace card',
            icon: 'icon-freeze-card'
        },
        {
            id: 5,
            name: 'Cancel card',
            icon: 'icon-freeze-card'
        }
    ]
  }),

  computed: {
    cardNum() {
      const arr = this.cardNumber.split('');
      return arr;
    }
  }
}
</script>
<style lang="scss" scoped>
.services-container{
    display: flex;
    justify-content: space-between;
    background-color: #EDF3FF;
    color: #0C365A;
    font-size: 13px;
    border-radius: 15px;
    .name{
        text-align: center;
        width: 4rem;
    }

}
</style>