<template>
  <div>
    <div class="d-flex justify-space-between">
      <div>
        <div class="text-base">Available balance</div>
        <div class="text-3xl font-weight-bold">3,000</div>
      </div>
      <v-btn
              small
              color="primary"
              dark
            >
              <v-icon color="white" left>
                mdi-pencil
              </v-icon>
              New card
            </v-btn>
    </div>
    <div class="mt-3">
        <v-tabs>
            <v-tab href="#search">
                My debit cards
            </v-tab>
            <v-tab-item value="search">
                <my-debit-cards></my-debit-cards>
            </v-tab-item>

            <v-tab href="#rare">
                All company cards
            </v-tab>
            <v-tab-item value="rare">
                Coming soon...
            </v-tab-item>
    </v-tabs>

    </div>
  </div>
</template>

<script>
// import CardBasic from './CardBasic.vue'
// import CardNavigation from './CardNavigation.vue'
import MyDebitCards from './MyDebitCards.vue'

export default {
  components: {
      MyDebitCards
  },
  setup() {
    return {
      tab: null,
      tab2: null,
      items: ['My debit cards', 'All company cards'],
      text: 'Although cards can support multiple actions, UI controls, and an overflow menu, use restraint and remember that cards…',
    }
  },
}
</script>
<style lang="scss" scoped>

.v-application.theme--light .v-tabs:not(.v-tabs--vertical) {
    box-shadow:none !important;
        .v-tab{
        text-transform: none;
    }
}
</style>