<template>
    <v-card class="mt-3">
        <v-card-text class="pa-7">
            <v-row>
                <v-col
                    md="6"
                    cols="12"
                >
                <visa-card></visa-card>
                <card-services class="mt-10"></card-services>
                </v-col>
                <v-col
                    md="6"
                    cols="12"
                >
                <card-details></card-details>
                <recent-transactions class="mt-5"></recent-transactions>
                </v-col>
            </v-row>
        </v-card-text>
    </v-card>
</template>

<script>
import VisaCard from './VisaCard.vue'
import CardServices from './CardServices.vue'
import CardDetails from './CardDetails.vue'
import RecentTransactions from './RecentTransactions.vue'

export default {
  components: {
      VisaCard,
      CardServices,
      CardDetails,
      RecentTransactions,
  },
}
</script>
<style lang="scss" scoped>

</style>