<template>
    <v-card>
          <v-card-text class="card-1 d-flex">
                <div></div>
                <div>Recent transactions</div>
                <v-spacer></v-spacer>
                <div
                @click="isCardDetailsVisible = !isCardDetailsVisible"
                >
                <!-- <v-icon>{{ isCardDetailsVisible ? icons.mdiChevronUp : icons.mdiChevronDown }}</v-icon> -->
                <div v-if="!isCardDetailsVisible" class="icon-down-arrow"></div>
                <div v-if="isCardDetailsVisible" class="icon-down-arrow2"></div>
                </div>
          </v-card-text>
          <v-expand-transition>
            <div v-show="isCardDetailsVisible">
              <v-divider></v-divider>
              <v-card-text>
                <v-list>
                    <v-list-item
                        v-for="transaction in transactions"
                        :key="transaction.id"
                        class="trans-list"
                    >
                        <v-list-item-avatar>
                            <div :class="transaction.icon"></div>
                        </v-list-item-avatar>

                        <v-list-item-content>
                        <v-list-item-title class="trans-title">
                            <div class="d-flex justify-space-between">
                                <div>{{ transaction.name }}</div>
                            <div>{{ transaction.amount }}</div>
                            </div>
                        </v-list-item-title>

                        <v-list-item-subtitle v-text="transaction.date"></v-list-item-subtitle>
                        <div class="trans-status mt-2" v-text="transaction.status"></div>
                        </v-list-item-content>

                        <v-list-item-action>
                        <!-- <v-btn icon>
                            <v-icon color="grey lighten-1">mdi-information</v-icon>
                        </v-btn> -->
                        </v-list-item-action>
                    </v-list-item>
                </v-list>
              </v-card-text>
            </div>
          </v-expand-transition>
        </v-card>
</template>

<script>
import {
  mdiChevronUp,
  mdiChevronDown,
} from '@mdi/js'
export default {
  components: {
  },

  setup() {
    const isCardDetailsVisible = true;

    return {
      isCardDetailsVisible,
      // icons
      icons: {
        mdiChevronUp,
        mdiChevronDown,
      },
    }
  },

  data: () => ({
    transactions : [
        {
            id: 1,
            name: 'Hamleys',
            icon: 'icon-file-storage1',
            date: '20 May 2020',
            amount: '+ S$ 150',
            status:'Refund on debit card'
        },
        {
            id: 2,
            name: 'Hamleys',
            icon: 'icon-megaphone',
            date: '20 May 2020',
            amount: '- S$ 150',
            status:'Charged to debit card'
        },
        {
            id: 3,
            name: 'Hamleys',
            icon: 'icon-flights',
            date: '20 May 2020',
            amount: '+ S$ 150',
            status:'Charged to debit card'
        },
        {
            id: 4,
            name: 'Hamleys',
            icon: 'icon-file-storage1',
            date: '20 May 2020',
            amount: '- S$ 150',
            status:'Charged to debit card'
        }
        
    ]
  }),

}
</script>
<style lang="scss" scoped>
.card-1{
    &.v-card__text{
        border-color: #F5F5F5;
        background-color: #F5F9FF;
}
.v-list-item .v-list-item__subtitle {
    color: red !important;
}
.theme--light.v-list-item .v-list-item__subtitle, .theme--light.v-list-item .v-list-item__action-text {
    color: red !important;
}
.trans-list{
    .trans-title{
        color: $black;
        font-size: 14px;
        display: flex;
    }
    .v-list-item__subtitle{
        color: #AAAAAA;
        font-size: 13px;
    }
    .trans-status{
        color: #325BAF;
        font-size: 12px;
    }
}
}
</style>