<template>
    <div>
    <div class="show-card">
        <div class="icon-remove_red_eye-24px"></div>
        <a class="ml-2" color="primary" @click="showNumber = !showNumber">Show card number</a>
    </div>
    <div class="visa-container pa-7">
        <div class="icon-asp-logo asp-logo text-3xl"></div>
        <div class="white--text text-2xl">Mark Henry</div>
        <div class="card-number my-5">
            <div v-for="(num, index) in cardNum" :key="index">
                <div v-if="!showNumber" class="digits"></div>
                <div v-if="showNumber" class="num">{{ num }}</div>
            </div>
        </div>
        <div class="d-flex white--text">
            <div>Thru: 12/20</div>
            <div class="ml-10">CVV: ***</div>
        </div>
        <div class="icon-visa mt-4 visa-icon text-2xl"></div>
    </div>
    </div>
    
</template>

<script>

export default {
  components: {
  },

  data: () => ({
    cardNumber: '1234567891234567',
    showNumber: false
  }),

  computed: {
    cardNum() {
      const arr = this.cardNumber.split('');
      return arr;
    }
  }
}
</script>
<style lang="scss" scoped>
.show-card{
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 5px 0;
    a{
        font-size: 12px;
    }
}
.visa-container{
    background-color: $primary;
    border-radius: 10px;
    .asp-logo{
        text-align: right;
    }
    .card-number{
        display: flex;
        height: 21px;
        .digits{
            margin-right: 5px;
            width: 10px;
            height: 10px;
            background-color: $white;
            border-radius: 5px;
        }
        .num{
            color: $white;
            margin-right: 5px;
        }
    }
    .visa-icon{
        text-align: right;
    }
}
</style>